
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
  --negro:#000000;
  --blanco:#ffffff;
  --verde:#aeff00;
  --azul:#00ffff;
  --rojo:#ff0000;
  --amarillo:#ffea00;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboco", sans-serif;
}

.boton{
  width: 120px;
  background-color: blueviolet;
  padding: 12px;
  border: solid 1px blueviolet;
  border-radius: 5px;
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 300px;
  color: #fff;
  transition: 1s ;
}

.boton--verde{
  background-color: var(--verde);
  border: solid 1px var(--verde);
}

.boton1--verde{
  background-color: var(--blanco);
  color: var(--verde);
  border: solid 1px var(--verde);
}

.boton--azul{
  background-color: var(--azul);
  border: solid 1px var(--azul);
}

.boton1--azul{
  background-color: var(--blanco);
  color: var(--azul);
  border: solid 1px var(--azul);
}

.boton--rojo{
  background-color: var(--rojo);
  border: solid 1px var(--rojo);
}

.boton1--rojo{
  background-color: var(--blanco);
  color: var(--rojo);
  border: solid 1px var(--rojo);
}

.boton--amarillo{
  background-color: var(--amarillo);
  border: solid 1px var(--amarillo);
}

.boton1--amarillo{
  background-color: var(--blanco);
  color: var(--amarillo);
  border: solid 1px var(--amarillo);
}

.boton:hover{
  background-color: #fff;
  color: blueviolet;
  border: solid 1px blueviolet;
}

.boton--border{
  border: solid 1px blueviolet;
  background-color: #fff;
  color: blueviolet;
}

.boton--border:hover{
  border: solid 1px #fff;
  background-color: blueviolet;
  color:#fff;
}

.boton_texto{
  /* color: #fff; */
}

.boton_icono{
  /* color: #fff; */
}